aside {
  grid-area: aside;
  background-color: black;
  display: grid;
  place-content: center;
  overflow-y: scroll;
}
img {
  width: 150px;
  height: 200px;
}
.aside-Container {
  place-content: center;
  text-align: center;
  
}
.Logo2 {
  display:inline-block;
  
  
}
