
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto';
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-image: url("./assets/backgroundhome.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0; /* Remove default margin for better full-screen effect */
  padding: 0; /* Remove default padding for better full-screen effect */
}

.app-Container {
  width: 100%;
  height: 100vh;
 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";

  
    @media only screen and (max-width: 600px) {
      /* Adjust styles for screens up to 600px wide */
    
      body {
        font-size: 20px; /* Example: Decrease font size for smaller screens */
      }
    
      .responsive-image {
        max-width: 100%; /* Example: Make images take the full width of the screen */
        height: auto;    /* Maintain aspect ratio */
      }
    
  }
}
